.vscode/**
.vscode-test/**
.github/**
node_modules/**
out/**
src/**
**/*.map
**/*.ts
**/tsconfig*.json
**/.eslintrc*
.gitignore
.gitattributes
.vscodeignore
*.vsix
esbuild.js
tslint.json
package-lock.json
data/Images/**
